.registerBtn {
border: 1px solid rgba(246, 184, 61, 0.2);
  border-radius: 30px;
  padding: 15px 20px;
  width: 149px;
  height: 50px;
  background-color: #fff4df;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.registerBtn:hover {
  background-color: #fbe7c1;
}

/* Стилі для домашньої сторінки */
.registerBtnHome {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  color: var(--white) !important;
  text-transform: none !important;
  font-weight: 500 !important;
  padding: 15px 20px !important;
}

.registerBtnHome:hover {
  background-color: transparent !important;
  border-color: var(--white) !important;
  color: var(--white) !important;
}
