/* Desktop */
#root {
  width: 1280px;
}

/* Tablet */
@media (max-width: 1279px) {
  #root {
    width: 768px;
  }
}

/* Mobile адаптив */
@media (max-width: 767px) {
  #root {
    width: 768px;
  }
}

/* Mobile гумова */
@media (max-width: 374px) {
  #root {
    width: 768px;
  }
}